@inherits UmbracoTemplatePage
@{
    var homePage = CurrentPage.AncestorsOrSelf(1).First();
}

<!-- Header with logo -->
<nav class="header-wrapper navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-sm-11 col-md-7 col-lg-7">
                @{Html.RenderPartial("TopNavigation");}
            </div>
            <div class="col-sm-6 col-md-12 col-lg-10 text-center hidden-xs">
                @{Html.RenderPartial("Logo");}
            </div>
            <div class="col-sm-7 col-md-5 col-lg-7 hidden-xs">
                @{Html.RenderPartial("Social");}
            </div>
        </div>
    </div>
</nav>

<script type="text/javascript">
    var scrollFromTop = 100;
    $(window).bind('scroll', function () {
        if ($(window).scrollTop() > scrollFromTop) {
            $('.header-wrapper').addClass('scrolled');
        } else {
            $('.header-wrapper').removeClass('scrolled');
        }
    });
</script>