@inherits UmbracoTemplatePage
@{
    var homePage = CurrentPage.AncestorsOrSelf(1).First();
}

<!-- Header with logo -->
<nav class="header-wrapper navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        @{Html.RenderPartial("TopNavigation");}
    </div>
</nav>

@*<div id="header-wrapper">
        <div id="header" class="container" style="background: url('@(Umbraco.Field("headerImage", recursive:true))') center bottom no-repeat;">
            <a id="header-logo"
               href="@homePage.Url" style="background: url('@(Umbraco.Field("headerLogo", recursive:true))') no-repeat;"></a>
        </div>
    </div>*@
<!-- /Header with logo  -->