@inherits UmbracoTemplatePage
@{
    Layout = "LayoutBase.cshtml";
}
@section Scripts{
    @if (IsSectionDefined("Scripts"))
    {
        @RenderSection("Scripts")
    }
}
<div class="main-wrapper">
    <div class="container">
        @RenderSection("Body")
    </div>
</div>