/*!Main.css*/

@import (reference) "Bootstrap/mixins.less";
@import (reference) "Bootstrap/variables.less";
@import (reference) "Bootstrap/glyphicons.less";
@import (reference) "variables.less";
@import (reference) "mixins.less";
@import (reference) "globals.less";

/*Basic styles*********************************************************************/

body {
    letter-spacing: 1px;
}

h1, h2, h3, h4, h5, h6 {
    .header-font;
}

/*Main elements*********************************************************************/
.header-wrapper {
    margin: 0;

    .row > * {
        .transition(height 1s);

        @media(min-width:@screen-sm-min) {
            height: @logo-sm-total-height;
        }

        @media(min-width:@screen-md-min) {
            height: @logo-lg-total-height;
        }
    }

    &.scrolled {
        .row > * {
            @media(min-width:@screen-sm-min) {
                height: @logo-sm-total-height;
            }
        }

        .header-logo {
            margin: @logo-sm-margin auto @logo-sm-margin auto;

            img {
                height: @logo-sm-height;
            }
        }
    }
}

.main-wrapper {
    @margin-xs: @logo-sm-total-height + 15px;
    @margin-sm: @logo-sm-total-height + 20px;
    @margin-lg: @logo-lg-total-height + 20px;

    margin-top: @margin-xs;
    margin-bottom: 25px;

    @media(min-width:@screen-sm-min) and (max-width:@screen-sm-max) {
        margin-top: @margin-sm;
    }

    @media(min-width:@screen-md-min) {
        margin-top: @margin-lg;
    }
}

/*Navigation*********************************************************************/
#navigation.navbar-collapse {
    /*float: left;*/
    .header-font;
    font-size: 0.857em;
    font-weight: bold;
    text-transform: uppercase;

    @media(max-width:@screen-xs-max) {
        border-color: @navbar-default-color;
        border-bottom: 1px solid;
        background-color: white;
    }

    @media(min-width:@screen-sm-min) {
        .vertical-align-middle();
    }

    .navbar-nav > li {
        margin: 4px;
        /*@media(min-width:@screen-lg-min) {
            margin: 5px;
        }*/
        a {
            padding: 5px;
            .transition(all 0.4s);
        }
    }
    //Multi-level menu
    /*@media(min-width:@screen-sm) {
        li.dropdown:hover > ul.dropdown-menu {
            display: block;
        }
    }*/
}

/*Navigation mobile button*/
.navbar-toggle {
    margin-right: 0;
}

/*Header*********************************************************************/
.header-logo {
    display: inline-block;
    vertical-align: top;
    margin: @logo-sm-margin auto @logo-sm-margin auto;

    @media(min-width:@screen-md-min) {
        margin: @logo-lg-margin auto @logo-lg-margin auto;
    }

    img {
        height: @logo-sm-height;
        display: block;
        .transition(all 1s);

        @media(min-width:@screen-md-min) {
            height: @logo-lg-height;
        }
    }
}

/*Social********************************************************************/
ul.contact {
    display: inline-block;
    float: right;
    padding: 0;
    margin: 0;

    @media(max-width:@screen-xs-max) {
        .navbar-vertical-align(@logo-sm-height);
    }

    @media(min-width:@screen-sm-min) {
        .vertical-align-middle();
    }

    li {
        .social-icons(true);
        margin: 13px;
    }
}

/*Portfolio*********************************************************/
.gallery-categories {
    margin: 10px 0;

    .gallery-category {
        .header-font();
        color: @black-color;
        /*font-weight: bold;*/
        padding: 0 10px;
        display: inline-block;
        cursor: pointer;
        .transition(all 0.4s);

        &.active {
            color: @gray-color;
        }

        &:hover {
            color: @gray-color;
        }
    }
}

.gallery-images {
    margin: 0 auto;

    .gallery-item {
        width: 350px;
        padding: 5px;
        float: left;
        /*opacity: 0;*/ /*By default-invisible*/
        @media(min-width:@screen-sm-min) {
            width: (@container-sm - @grid-gutter-width)/3;
        }

        @media(min-width:@screen-md-min) {
            width: (@container-md - @grid-gutter-width)/3;
        }

        @media(min-width:@screen-lg-min) {
            width: (@container-lg - @grid-gutter-width)/5;
        }

        a {
            display: block;

            img {
                opacity: 0;
                margin: 0 auto;
                .img-responsive();

                &.not-loaded {
                    min-height: 100px;
                }
            }
        }
    }
}

/*News Overview**************************************************************/
.news-item {
    display: block;
    padding: 10px 5px 20px 5px;
    text-align: center;

    &:hover {
        background-color: #d7d7d7;
    }

    .news-item-title {
        margin: 15px 5px 0 5px;
        font-size: 1.28em;
    }

    img {
        .img-responsive();
        margin: 0 auto;
    }
}

/*Content pages********************************************************/
.content-wrapper {
    border-top: 1px solid @gray-color;

    header {
        text-align: center;
    }

    .text-content {
        margin-top: 25px;
        font-size: 1.29em;

        img {
            .img-responsive();
        }

        iframe {
            max-width: 100%;
        }
    }
}

/*Contact Form********************************************************/
.contact-form {
    font-size: 0.77em;

    .control-label {
        font-weight: normal;
    }

    .btn {
        font-size: 1.29em;
    }
}

/*Disqus***************************************************************/
.disqus-wrapper {
    margin-top: 50px;
}

/*Scroll to top********************************************************/
.scroll-to-top {
    width: 57px;
    height: 57px;
    z-index: 10;
    position: fixed;
    bottom: 40px;
    right: 40px;
    display: none;
    background: url('images/scroll-to-top.png') no-repeat;
    background-color: rgba(255, 255, 255, 0.65);
    .transition(background-color 0.4s);
    border-radius: 50%;

    &:focus {
        outline: none;
    }

    &:hover {
        background-color: rgba(255, 255, 255, 1);
    }
}
