/*!Mixins.css*/
@import (reference) "Bootstrap/variables.less";
@import (reference) "Bootstrap/mixins.less";
@import (reference) "variables.less";
@import (reference) "bootstrap-n-column.less";

.social-icon(@x, @is-main-menu) {
    @height: 24px;
    @width: 24px;
    display: block;
    background-image: url('images/icons-contact.png');
    width: @width;
    height: @height;
    border-radius: 50%;
    background-position: @x 0;
    opacity: 0.65;

    & when (@is-main-menu = true) {
        opacity: 1;
    }

    &:hover {
        opacity: 1;

        & when (@is-main-menu = true) {
            background-position: @x @height;
        }
    }
}

.social-icons(@is-main-menu) {
    display: inline-block;
    float: left;

    a {
        .transition(all 0.4s);

        &.instagram {
            .social-icon(0, @is-main-menu);
        }

        &.facebook {
            .social-icon(-24px, @is-main-menu);
        }

        &.skype {
            .social-icon(-48px, @is-main-menu);
        }

        &.vkontakte {
            .social-icon(-72px, @is-main-menu);
        }

        &.twitter {
            .social-icon(-96px, @is-main-menu);
        }

        &.messenger {
            .social-icon(-120px, @is-main-menu);
        }
    }
}

.header-font() {
    font-family: @font-family-header;
    letter-spacing: 1px;
}

.vertical-align-middle {
    position: relative;
    top: 50%;
    .translate(0, -50%);
}

.no-gutters {
    &.row {
        margin-right: 0;
        margin-left: 0;

        > [class*="col-"] {
            padding-right: 0;
            padding-left: 0;
        }
    }
}

/*Create custom 5 column layout for bootstrap*/
.col-set(15);
